/* PrismJS 1.20.0
https://prismjs.com/download.html#themes=prism&languages=clike+javascript&plugins=toolbar+copy-to-clipboard */
/**
 * Mixture of default Prism theme, Light Owl Theme, Custom mixing
 */

 code[class*="language-"],
 pre[class*="language-"] {
   color: #403f53;
   font-size: 14px;
   font-family: 'Space Mono', monospace;
   font-variant-ligatures: none;
   text-align: left;
   white-space: pre;
   word-spacing: normal;
   word-break: normal;
   word-wrap: normal;
   line-height: 1.5;

   -moz-tab-size: 4;
   -o-tab-size: 4;
   tab-size: 4;

   -webkit-hyphens: none;
   -moz-hyphens: none;
   -ms-hyphens: none;
   hyphens: none;
 }

 pre[class*="language-"]::-moz-selection,
 pre[class*="language-"] ::-moz-selection,
 code[class*="language-"]::-moz-selection,
 code[class*="language-"] ::-moz-selection {
   text-shadow: none;
   background: rgba(128, 128, 128, 0.22);
 }

 pre[class*="language-"]::selection,
 pre[class*="language-"] ::selection,
 code[class*="language-"]::selection,
 code[class*="language-"] ::selection {
   text-shadow: none;
   background: rgba(128, 128, 128, 0.22);
 }

 @media print {
   code[class*="language-"],
   pre[class*="language-"] {
     text-shadow: none;
   }
 }

 /* Code blocks */
 pre[class*="language-"] {
   padding: 1em;
   margin: 0.5em 0;
   overflow: auto;
 }

 :not(pre) > code[class*="language-"],
 pre[class*="language-"] {
   color: white;
   background: #fbfbfb;
 }

 :not(pre) > code[class*="language-"] {
   padding: 0.1em;
   border-radius: 0.3em;
   white-space: normal;
 }

 .token.comment,
 .token.prolog,
 .token.cdata {
   color: rgb(152, 159, 177);
   font-style: italic;
 }

 .token.punctuation {
   color: rgb(153, 76, 195);
 }

 .namespace {
   color: rgb(12, 150, 155);
 }

 .token.deleted {
   color: rgba(239, 83, 80, 0.56);
   font-style: italic;
 }

 .token.symbol,
 .token.operator,
 .token.keyword,
 .token.property {
   color: rgb(12, 150, 155);
 }

 .token.tag {
   color: rgb(153, 76, 195);
 }

 .token.boolean {
   color: rgb(188, 84, 84);
 }

 .token.number {
   color: rgb(170, 9, 130);
 }

 .token.constant,
 .token.builtin,
 .token.string,
 .token.url,
 .token.entity,
 .language-css .token.string,
 .style .token.string,
 .token.char {
   color: rgb(72, 118, 214);
 }

 .token.selector,
 .token.function,
 .token.doctype {
   color: rgb(153, 76, 195);
   font-style: italic;
 }

 .token.attr-name,
 .token.inserted {
   color: rgb(72, 118, 214);
   font-style: italic;
 }

 .token.class-name,
 .token.atrule,
 .token.attr-value {
   color: rgb(17, 17, 17);
 }

 .token.regex,
 .token.important,
 .token.variable {
   color: rgb(201, 103, 101);
 }

 .token.important,
 .token.bold {
   font-weight: bold;
 }

 .token.italic {
   font-style: italic;
 }

div.code-toolbar {
	position: relative;
}

div.code-toolbar > .toolbar {
	position: absolute;
	top: .3em;
	right: .2em;
	transition: opacity 0.3s ease-in-out;
	opacity: 0;
}

div.code-toolbar:hover > .toolbar {
	opacity: 1;
}

/* Separate line b/c rules are thrown out if selector is invalid.
   IE11 and old Edge versions don't support :focus-within. */
div.code-toolbar:focus-within > .toolbar {
	opacity: 1;
}

div.code-toolbar > .toolbar .toolbar-item {
	display: inline-block;
}

div.code-toolbar > .toolbar a {
	cursor: pointer;
}

div.code-toolbar > .toolbar button {
	background: none;
	border: 0;
    cursor: pointer;
	color: inherit;
	font: inherit;
	line-height: normal;
	overflow: visible;
	padding: 0;
	-webkit-user-select: none; /* for button */
	-moz-user-select: none;
	-ms-user-select: none;
}

div.code-toolbar > .toolbar a,
div.code-toolbar > .toolbar button,
div.code-toolbar > .toolbar span {
	color: #bbb;
	font-size: .8em;
	padding: 0 .5em;
	background: #f5f2f0;
	background: rgba(224, 224, 224, 0.2);
	box-shadow: 0 2px 0 0 rgba(0,0,0,0.2);
	border-radius: .5em;
}

div.code-toolbar > .toolbar a:hover,
div.code-toolbar > .toolbar a:focus,
div.code-toolbar > .toolbar button:hover,
div.code-toolbar > .toolbar button:focus,
div.code-toolbar > .toolbar span:hover,
div.code-toolbar > .toolbar span:focus {
	color: inherit;
	text-decoration: none;
}
