/* Coolors Exported Palette - https://coolors.co/d3423e-f45525-ff4d6a-d64093-823acc-5742dd */

/* CSS */
--cg-red: hsla(2, 71%, 83%, 1);
--red-orange-color-wheel: hsla(14, 85%, 96%, 1);
--fiery-rose: hsla(350, 70%, 100%, 1);
--pink-pantone: hsla(327, 70%, 84%, 1);
--blue-violet: hsla(270, 72%, 80%, 1);
--majorelle-blue: hsla(248, 70%, 87%, 1);

/* SCSS HEX */
$cg-red: #d3423eff;
$red-orange-color-wheel: #f45525ff;
$fiery-rose: #ff4d6aff;
$pink-pantone: #d64093ff;
$blue-violet: #823accff;
$majorelle-blue: #5742ddff;

/* SCSS HSL */
$cg-red: hsla(2, 71%, 83%, 1);
$red-orange-color-wheel: hsla(14, 85%, 96%, 1);
$fiery-rose: hsla(350, 70%, 100%, 1);
$pink-pantone: hsla(327, 70%, 84%, 1);
$blue-violet: hsla(270, 72%, 80%, 1);
$majorelle-blue: hsla(248, 70%, 87%, 1);

/* SCSS RGB */
$cg-red: rgba(211, 66, 62, 1);
$red-orange-color-wheel: rgba(244, 85, 37, 1);
$fiery-rose: rgba(255, 77, 106, 1);
$pink-pantone: rgba(214, 64, 147, 1);
$blue-violet: rgba(130, 58, 204, 1);
$majorelle-blue: rgba(87, 66, 221, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #d3423eff, #f45525ff, #ff4d6aff, #d64093ff, #823accff, #5742ddff);
$gradient-right: linear-gradient(90deg, #d3423eff, #f45525ff, #ff4d6aff, #d64093ff, #823accff, #5742ddff);
$gradient-bottom: linear-gradient(180deg, #d3423eff, #f45525ff, #ff4d6aff, #d64093ff, #823accff, #5742ddff);
$gradient-left: linear-gradient(270deg, #d3423eff, #f45525ff, #ff4d6aff, #d64093ff, #823accff, #5742ddff);
$gradient-top-right: linear-gradient(45deg, #d3423eff, #f45525ff, #ff4d6aff, #d64093ff, #823accff, #5742ddff);
$gradient-bottom-right: linear-gradient(135deg, #d3423eff, #f45525ff, #ff4d6aff, #d64093ff, #823accff, #5742ddff);
$gradient-top-left: linear-gradient(225deg, #d3423eff, #f45525ff, #ff4d6aff, #d64093ff, #823accff, #5742ddff);
$gradient-bottom-left: linear-gradient(315deg, #d3423eff, #f45525ff, #ff4d6aff, #d64093ff, #823accff, #5742ddff);
$gradient-radial: radial-gradient(#d3423eff, #f45525ff, #ff4d6aff, #d64093ff, #823accff, #5742ddff);